 <!DOCTYPE html>
 <html>
 <head> 
 <style>
 .bar-chart {
            display: inline-block;
            margin-right: 1px;
            background-color: hotpink;
          }
		  
 </style>		  
		  </head>
<body>

</body>
</html>